.main-container {
    padding: 10px;
}
.tabs-menu {
    overflow-x: hidden;
    white-space: nowrap;
    padding-bottom: 10px;
}
.popup-title {
    pointer-events: none;
    padding-bottom: 10px;
    margin-left: 10px;
}
